@charset "UTF-8";
/* CSS Document */
body {
	background-color: white;
	font-family: Georgia, "Times New Roman", serif;
	color: black;
	
}

header     {
	width: 95%;
}
section   {
	width: 100%;
}
nav   {
	display:none;
}
article    {
	display:none;
}
footer    {
	display:none;
}
.logoleft   {
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}
nav a   {
	border: 6px inset #FFDAA8;
	background-color:aliceblue;
	line-height: 250%;
	font-weight: bold;
	font-size: 35px;
	color: #8B4513;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Vivaldi;
}

nav a:hover  {
	color: #003300;
	border: 2px outset #FFD380;
}
h1   {
	color: 003300;
	text-align: center;
	font-size: xx-large;
}

p {
	color:#8B4513;
}

#thumbs, #image {

		width: 600px;

		text-align: center;

		margin: 0 auto 0 auto;

		color: #000;

		background-color: #FFDAA8;

		padding:10px;

	}



	#thumbs {

		margin-top: 10px;

	}



	#thumbs img {

		border: 6px solid #003300;

		margin: 5px;

		padding: 4px;

		background-color: #f5f5dc;

	}



	#image{

		height:500px;

	}



	.instructions{

		font-style:italic;

	}
@charset "UTF-8";
/* CSS Document */

